# Default ignored files
shelf/
workspace.xml
# Datasource local storage ignored files
dataSources/
dataSources.local.xml
# Editor-based HTTP Client requests
httpRequests/
aws.xml
modules.xml
myvib-authenauthor.iml
vcs.xml
#VScode
.vscode/launch.json
# Log dir
.log
.idea/
.env
dist/*

vendor